*.DS_Store
sessionSecret.js
*.swp
node_modules/*
bower_components/
.sass-cache/
googleAPI.js
*.map
tmp/*
filePointer.js
*.psd
Gulpfile.js
jan2010-present.zip
jan2010-present/
twitterOAuth.js
facebookOAuth.js
