@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato')

$leftpad: 40px

body
  width: 100%
  background-color: orange
  margin: 0px

#headbar
  position: fixed
  height: 40px
  width: 100%
  margin: 0px
  z-index: 40
  background-color: #111111
  box-shadow: 0px 3px 20px black
  border-width: 1px
  border: #EEEEEE

  #title
    position: relative
    float: left
    padding: 10px
    h3
      color: #EEEEEE
      font-size: 1.2em
      font-family: 'Archivo Black', sans-serif
      margin: 0px

  #controls
    position: relative
    float: left
    width: 40%
    padding: 9px 0px 13px 20px

    span
      position: relative
      float: left
      color: #EEEEEE
      font-family: 'Lato', sans-serif
      padding: 1px 5px 0px 30px

    .select-css
      position: relative
      float: left
      width: 40px
      height: 100%
      padding-top: 2px

      .selector
        position: relative
        float: left
        width: 130%
        height: 20px
        box-shadow: none
        background: transparent
        color: #EEEEEE
        font-family: 'Lato', sans-serif
        -webkit-appearance: none
        -apple-appearance: none
        -moz-appearance: none
        border: 1px solid #EEEEEE 
        border-radius: 2px
        padding: 0px
        margin: 0px


    #checker
      display: none
      padding-top: 2px

      + label span
        cursor: pointer
        display: inline-block
        padding: 0px
        margin: 2px 2px 2px 30px
        width: 20px
        height: 20px
        background: url(img/checkboxes.png) left top no-repeat

      &:checked + label span
        background: url(img/checkboxes.png) -20px top no-repeat

    span.span-check
      padding-left: 3px


  #headmenu
    position: relative
    padding: 10px 10px 9px 10px
    float: right
    margin: 0px 10px

    div
      display: inline-block

      li
        font-family: 'Lato', sans-serif
        padding: 0px 10px
        display: inline-block
        color: #EEEEEE

.leaflet-tile-pane
  box-shadow: 10px 3px 15px black inset
      
#main
  top: 25px

  #map
    margin-bottom: 10px
    a
      appearance: none
      -webkit-appearance: none
      -apple-appearance: none
      -moz-appearance: none

      color: orange

  .info
    width: 80%
    margin: 0px
    padding: 5px 3px 3px $leftpad

    li
      display: inline
      margin: 0px
      padding-right: 30px
      font-family: 'Lato', sans-serif
      opacity: .7

  #city
    margin: 0px
    font-family: 'Archivo Black', sans-serif
    font-size: 5em
    padding: 0px 30px 0px $leftpad


  #narrative
    margin: 0px
    padding: 3px 0px 3px $leftpad
    width: 90%
    max-height: 220px
    overflow-y: scroll
    font-family: 'Lato', sans-serif
    font-size: .8em

#overlay
  position: fixed
  width: 100%
  height: 100%
  background-color: #EEEEEE
  opacity: .5
  z-index: 50

#modal
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-55%, -55%)
  margin: 50px
  background-color: #111111
  z-index: 51

  #modalClose
    position: relative
    float: right
    padding: 6px 10px
    margin: 0px
    cursor: pointer
    color: #EEEEEE

  div 
    p
      color: #EEEEEE
      padding: 10px 40px
      font-family: 'Lato', sans-serif

    a
      text-decoration: none
      color: orange
      opacity: 0.75
      &:hover
        opacity: 1.0

    .oauth
      display: inline-block
      float: right
      margin: 5px 5px 5px 0px
      opacity: 1.0
      height: 20px

form
  input[type="text"], input[type="password"]

    margin: 5px 50px
    float: right

    text-align: right
    font-family: 'Lato', sans-serif
    
    appearance: none
    -webkit-appearance: none
    -apple-appearance: none
    -moz-appearance: none

    color: #EEEEEE
    background-color: transparent
    border-style: none
    border-bottom: solid 2px #EEEEEE

  input[type="submit"], input[type="file"]
    
    appearance: none
    -webkit-appearance: none
    -apple-appearance: none
    -moz-appearance: none
    position: relative
    height: 20px
    float: right
    cursor: pointer
    margin: 5px 56px 30px 0px

    background-color: transparent
    color: #EEEEEE
    font-family: 'Lato', sans-serif
    border-radius: 2px
    border-width: 1px
    border-color: #EEEEEE


.details
  position: relative
  width: 40%
  float: left

#content
  position: relative
  display: inline-block
  float: left
  width: 60%

  #tabs
    display: inline-block
    width: 100%
    margin: 0px
    padding: 5px 0px 0px 0px

    li
      position: relative
      display: inline
      float: left
      padding-left: 20px
      font-family: 'Lato', sans-serif
      color: #111111
      opacity: .7
      cursor: pointer

      &:hover
        opacity: 1.0

  #gallery
    position: relative
    //display: inline
    float: left
    clear: left
    width: 95%
    max-height: 225px
    //margin: 1.5em
    padding: 5px
    border-top: 1px solid rgba(16, 16, 16, .3)
    overflow-y: scroll

    .thumbnail
      display: inline
      width: auto

      span
        display: inline-block
        height: 100px
        vertical-align: middle
        padding: 0px 15px
        font-family: 'Lato', sans-serif
        color: #111111

  #provider
    color: #111111
    border-top: 1px solid rgba(16, 16, 16, .3)
    padding-top: 5px
    width: 90%

    h3
      padding: 0px
      margin: 0px
      font-family: 'Archivo Black', sans-serif

    p
      padding: 0px
      margin: 0px
      font-family: 'Lato', sans-serif

    a
      text-decoration: none
      color: #111111
      opacity: 0.7

      &:hover
        opacity: 1.0

#upload
  input
    margin: 0px

  #uploadButton
    display: inline-block
    vertical-align: middle
    width: 200px
    height: 100px


#lightbox
  width: auto
  //height: 70%
  
  padding: 10px


  #photoFocus
    position: relative
    margin: 0px
    //padding: 0px 10px
    //min-width: 400px

    span
      display: inline-block
      vertical-align: middle
      padding: 0px 5px
      color: #EEEEEE
      font-size: 1.5em
      cursor: pointer

    img
      display: inline-block
      max-height: 500px
      max-width: 85%
      vertical-align: middle
      margin: 0px
      padding: 10px 5px

  // #photoText 
  //  position: relative
  //  display: inline-block
    //float: left
    //clear: left
  //  height: 20%
  //  width: 100%
  //  padding: 10px 10px 10px 0px

  p
    text-align: center
    padding: 0px
    margin: 0px auto

#account
  #name
    font-family: 'Archivo Black', sans-serif
    font-size: 1.5em
    margin-bottom: 0px
  p
    text-align: right
    
  #usergallery
    clear: both
    margin: 0px
    padding: 5px
    width: 440px
    max-height: 250px

    div 
      position: relative
      display: inline-block
      img
        padding: 5px 

      #ugoptions
        div
          position: absolute
          bottom: 20px
          right: 180px
      
