@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato')

body
  background-color: orange
  margin: 0px

#headbar
  position: fixed
  height: 40px
  width: 100%
  margin: 0px
  z-index: 999
  background-color: #111111
  box-shadow: 10px 3px 15px black
  border-width: 1px
  border: #EEEEEE

  #title
    position: relative
    float: left
    padding: 10px
    h3
      color: #EEEEEE
      font-size: 1.2em
      font-family: 'Archivo Black', sans-serif
      margin: 0px

  #options
    position: relative
    height: 100%
    float: right
    margin: 0px
    padding: 10px 20px 10px 10px

    #headmenu
      position: relative
      float: right
      margin: 0px

      li
        font-family: 'Lato', sans-serif
        padding: 0px 10px
        display: inline
        color: #EEEEEE

.leaflet-tile-pane
  box-shadow: 10px 3px 15px black inset

      
#main
  top: 25px

  #map
    box-shadow: 10px 3px 15px black inset

  #controls
    padding: 0px 0px 30px 0px

    .selector
      position: relative
      float: left
      padding: 3px
    .checker
      position: relative
      float: left
      padding: 3px

  .info
    width: 50%
    margin: 0px
    padding: 15px 3px 3px 20px

    li
      display: inline
      margin: 0px
      padding-right: 30px
      font-family: 'Lato', sans-serif
      opacity: .7

  #city
    margin: 0px
    font-family: 'Archivo Black', sans-serif
    font-size: 5em
    padding: 0px 30px 0px 20px

  #narrative
    margin: 0px
    padding: 3px 20px
    width: 40%
    font-family: 'Lato', sans-serif
    font-size: .8em

