@import url("https://fonts.googleapis.com/css?family=Archivo+Black|Lato");
body {
  width: 100%;
  background-color: orange;
  margin: 0px; }

#headbar {
  position: fixed;
  height: 40px;
  width: 100%;
  margin: 0px;
  z-index: 40;
  background-color: #111111;
  box-shadow: 0px 3px 20px black;
  border-width: 1px;
  border: #EEEEEE; }
  #headbar #title {
    position: relative;
    float: left;
    padding: 10px; }
    #headbar #title h3 {
      color: #EEEEEE;
      font-size: 1.2em;
      font-family: 'Archivo Black', sans-serif;
      margin: 0px; }
  #headbar #controls {
    position: relative;
    float: left;
    width: 40%;
    padding: 9px 0px 13px 20px; }
    #headbar #controls span {
      position: relative;
      float: left;
      color: #EEEEEE;
      font-family: 'Lato', sans-serif;
      padding: 1px 5px 0px 30px; }
    #headbar #controls .select-css {
      position: relative;
      float: left;
      width: 40px;
      height: 100%;
      padding-top: 2px; }
      #headbar #controls .select-css .selector {
        position: relative;
        float: left;
        width: 130%;
        height: 20px;
        box-shadow: none;
        background: transparent;
        color: #EEEEEE;
        font-family: 'Lato', sans-serif;
        -webkit-appearance: none;
        -apple-appearance: none;
        -moz-appearance: none;
        border: 1px solid #EEEEEE;
        border-radius: 2px;
        padding: 0px;
        margin: 0px; }
    #headbar #controls #checker {
      display: none;
      padding-top: 2px; }
      #headbar #controls #checker + label span {
        cursor: pointer;
        display: inline-block;
        padding: 0px;
        margin: 2px 2px 2px 30px;
        width: 20px;
        height: 20px;
        background: url(img/checkboxes.png) left top no-repeat; }
      #headbar #controls #checker:checked + label span {
        background: url(img/checkboxes.png) -20px top no-repeat; }
    #headbar #controls span.span-check {
      padding-left: 3px; }
  #headbar #headmenu {
    position: relative;
    padding: 10px 10px 9px 10px;
    float: right;
    margin: 0px 10px; }
    #headbar #headmenu div {
      display: inline-block; }
      #headbar #headmenu div li {
        font-family: 'Lato', sans-serif;
        padding: 0px 10px;
        display: inline-block;
        color: #EEEEEE; }

.leaflet-tile-pane {
  box-shadow: 10px 3px 15px black inset; }

#main {
  top: 25px; }
  #main #map {
    margin-bottom: 10px; }
    #main #map a {
      appearance: none;
      -webkit-appearance: none;
      -apple-appearance: none;
      -moz-appearance: none;
      color: orange; }
  #main .info {
    width: 80%;
    margin: 0px;
    padding: 5px 3px 3px 40px; }
    #main .info li {
      display: inline;
      margin: 0px;
      padding-right: 30px;
      font-family: 'Lato', sans-serif;
      opacity: .7; }
  #main #city {
    margin: 0px;
    font-family: 'Archivo Black', sans-serif;
    font-size: 5em;
    padding: 0px 30px 0px 40px; }
  #main #narrative {
    margin: 0px;
    padding: 3px 0px 3px 40px;
    width: 90%;
    max-height: 220px;
    overflow-y: scroll;
    font-family: 'Lato', sans-serif;
    font-size: .8em; }

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #EEEEEE;
  opacity: .5;
  z-index: 50; }

#modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -55%);
  margin: 50px;
  background-color: #111111;
  z-index: 51; }
  #modal #modalClose {
    position: relative;
    float: right;
    padding: 6px 10px;
    margin: 0px;
    cursor: pointer;
    color: #EEEEEE; }
  #modal div p {
    color: #EEEEEE;
    padding: 10px 40px;
    font-family: 'Lato', sans-serif; }
  #modal div a {
    text-decoration: none;
    color: orange;
    opacity: 0.75; }
    #modal div a:hover {
      opacity: 1.0; }
  #modal div .oauth {
    display: inline-block;
    float: right;
    margin: 5px 5px 5px 0px;
    opacity: 1.0;
    height: 20px; }

form input[type="text"], form input[type="password"] {
  margin: 5px 50px;
  float: right;
  text-align: right;
  font-family: 'Lato', sans-serif;
  appearance: none;
  -webkit-appearance: none;
  -apple-appearance: none;
  -moz-appearance: none;
  color: #EEEEEE;
  background-color: transparent;
  border-style: none;
  border-bottom: solid 2px #EEEEEE; }

form input[type="submit"], form input[type="file"] {
  appearance: none;
  -webkit-appearance: none;
  -apple-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 20px;
  float: right;
  cursor: pointer;
  margin: 5px 56px 30px 0px;
  background-color: transparent;
  color: #EEEEEE;
  font-family: 'Lato', sans-serif;
  border-radius: 2px;
  border-width: 1px;
  border-color: #EEEEEE; }

.details {
  position: relative;
  width: 40%;
  float: left; }

#content {
  position: relative;
  display: inline-block;
  float: left;
  width: 60%; }
  #content #tabs {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 5px 0px 0px 0px; }
    #content #tabs li {
      position: relative;
      display: inline;
      float: left;
      padding-left: 20px;
      font-family: 'Lato', sans-serif;
      color: #111111;
      opacity: .7;
      cursor: pointer; }
      #content #tabs li:hover {
        opacity: 1.0; }
  #content #gallery {
    position: relative;
    float: left;
    clear: left;
    width: 95%;
    max-height: 225px;
    padding: 5px;
    border-top: 1px solid rgba(16, 16, 16, 0.3);
    overflow-y: scroll; }
    #content #gallery .thumbnail {
      display: inline;
      width: auto; }
      #content #gallery .thumbnail span {
        display: inline-block;
        height: 100px;
        vertical-align: middle;
        padding: 0px 15px;
        font-family: 'Lato', sans-serif;
        color: #111111; }
  #content #provider {
    color: #111111;
    border-top: 1px solid rgba(16, 16, 16, 0.3);
    padding-top: 5px;
    width: 90%; }
    #content #provider h3 {
      padding: 0px;
      margin: 0px;
      font-family: 'Archivo Black', sans-serif; }
    #content #provider p {
      padding: 0px;
      margin: 0px;
      font-family: 'Lato', sans-serif; }
    #content #provider a {
      text-decoration: none;
      color: #111111;
      opacity: 0.7; }
      #content #provider a:hover {
        opacity: 1.0; }

#upload input {
  margin: 0px; }

#upload #uploadButton {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  height: 100px; }

#lightbox {
  width: auto;
  padding: 10px; }
  #lightbox #photoFocus {
    position: relative;
    margin: 0px; }
    #lightbox #photoFocus span {
      display: inline-block;
      vertical-align: middle;
      padding: 0px 5px;
      color: #EEEEEE;
      font-size: 1.5em;
      cursor: pointer; }
    #lightbox #photoFocus img {
      display: inline-block;
      max-height: 500px;
      max-width: 85%;
      vertical-align: middle;
      margin: 0px;
      padding: 10px 5px; }
  #lightbox p {
    text-align: center;
    padding: 0px;
    margin: 0px auto; }

#account #name {
  font-family: 'Archivo Black', sans-serif;
  font-size: 1.5em;
  margin-bottom: 0px; }

#account p {
  text-align: right; }

#account #usergallery {
  clear: both;
  margin: 0px;
  padding: 5px;
  width: 440px;
  max-height: 250px; }
  #account #usergallery div {
    position: relative;
    display: inline-block; }
    #account #usergallery div img {
      padding: 5px; }
    #account #usergallery div #ugoptions div {
      position: absolute;
      width: 16px;
      height: 16px;
      bottom: 80px;
      right: 20px;
      background-color: #111111; }
      #account #usergallery div #ugoptions div p {
        color: orange;
        text-align: center;
        padding: 0px 3px 3px 3px;
        margin: auto; }
