<div id="account">
	<p id="name">{{ user.firstName | uppercase }} {{ user.lastName | uppercase }}</p>
	<p>pipespotting since {{ user.created | date : shortdate }}<br>{{ photos.length }} photo<span ng-if="photos.length > 1">s</span>:</p>
	<div id="usergallery">
		<div ng-repeat="photo in photos">
			<img ng-src="{{photo.filename}}?dim=200x100">
			<div id="ugoptions">
				<div ng-click="deletePhoto(photo._id)">&#187;</div>
				<!-- <div ng-click="focusPhoto(photo._id)">&#128465;</div> -->
			</div>
		</div>
	</div>
</div>