<div id="form">
    <form action="/signin" method="post">
        <input type="text" name="email" placeholder="email"/>
        <br>
        <input type="password" name="password" placeholder="password"/>
        <br>
        <input type="submit" value="Signin" />
        <a class="oauth" href="/oauth/facebook"><img src="/assets/facebook/FB-f-Logo__blue_29.png" height="20" width="20"></a>
    	<a class="oauth" href="/oauth/twitter"><img src="/assets/twitter/Twitter_Social_Icon_Rounded_Square_Color.png" height="20" width="20"></a>
    </form>
    
</div>
