<div id="form">
    <form action="/signup" method="post">
        <div>
            <label>first name:</label>
            <input type="text" name="first name" />
        </div>
        <div>
            <label>last name:</label>
            <input type="text" name="last name" />
        </div>
        <div>
            <label>email:</label>
            <input type="text" name="email" />
        </div>
        <div>
            <label>password:</label>
            <input type="password" name="password" />
        </div>
        <div>
            <input type="submit" value="signup" />
        </div>
    </form>
</div>
